@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  width: auto;
}