---
import Layout from "../layouts/Layout.astro"

const pageTitle = "Our Team"
const pageDesc = "This is the team page"
---
<Layout title={pageTitle} metaDesc={pageDesc}>
  <h1>{pageTitle}</h1>
  <ul>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo earum possimus quod quia, facere eos nesciunt sequi, suscipit facilis eum sit soluta ratione modi dolore.
    </li>
    <li>
      Tenetur vel dolorum neque asperiores quas, perspiciatis tempore eveniet pariatur in magnam dignissimos modi rem assumenda, possimus accusantium voluptate minus illo aspernatur rerum qui reiciendis?
    </li>
    <li>
      Accusantium unde, earum illum ipsa excepturi exercitationem necessitatibus amet, repudiandae soluta corrupti iusto porro optio, placeat culpa! Laudantium reiciendis ut vel sapiente libero, odio beatae!
    </li>
  </ul>
</Layout>